footer#bottom.b-footer

  .container
  
    include ../../modules/subscribe/include
  
    .row
    
      .col-sm-2
        
        h4
          Читайте нас

        menu
          each title in [ 'Facebook', 'Instagram', 'Twitter', 'LiveJournal', 'Одноклассники', 'ВКонтакте', 'Google+', 'Pinterest' ]
            li
              a( href="" target="_blank" )=title
              
      .col-sm-2
        
        h4
          Моя Кухня

        menu
          each title in [ 'Моя страница', 'Избранные рецепты', 'Моя лента', 'Подписка', 'Бейджи', 'Редактировать анкету', 'Добавить рецепт', 'Добавить рецепт (простой)', 'Добавить запись в клуб' ]
            li
              a( href="" )=title
              
      .col-sm-2
        
        h4
          Темы

        menu
          each title in [ 'Рецепты с фото', 'Кулинарные клубы', 'Кулинары', 'Рецепт месяца', 'Самое интересное', 'Лавка' ]
            li
              a( href="" )=title
              
      .col-sm-2
        
        h4
          Сервисы

        menu
          each title in [ 'Моя страница', 'Поиск рецепта', 'Виджет Яндекса', 'Приложение Facebook', 'Приложение ВКонтакте' ]
            li
              a( href="" )=title
              
      .col-sm-2
        
        h4
          Реклама

        menu
          each title in [ 'Моя страница', 'Медиа-кит', 'Магазинам', 'Конкурсы', 'Брендирование', 'Статистика' ]
            li
              a( href="" )=title
              
      .col-sm-2
        
        h4
          Пользователям

        menu
          each title in [ 'Новый профиль', 'Помощь', 'Ваши предложения', 'Сообщить об ошибке', 'Соглашение', 'Правила' ]
            li
              a( href="" )=title