block type
block name
block or

.form-group.i-float
  
  if name == "capcha"
    img.b-capcha-img( src="/upload/capcha.jpg" alt="" )

  label.b-label
    block label
  
  input.form-control(
    type="#{ type }",
    name="#{ name }",
    value="",
    data-or="#{or}"
  )