block type
block name
block placeholder

.form-group

  label.b-label.text-center
    block label
    
  hr.i-size-S
  
  input.form-control(
    type="#{ type }",
    name="#{ name }",
    value="",
    placeholder="#{ placeholder }"
  )

  include ../../../modules/button/submit